.home{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
}
.home{
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 0rem; */
}

.homeChild1{
    width: 750px;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}
.wel-port{
    font-family: 'Source Code Pro';
   width: 80%;
   height: 80px;
   display: flex;
   margin-left: 20px;
}
.my-intro {
    font-family: 'Source Code Pro';
    width: 89%;
    height: 160px;
    line-height: 45px;
    font-size: 20px;
    margin-left: 20px;
}

.my-Soc-Med{
    font-family: 'Source Code Pro';
    width: 100%;
    height: 60px;
    display: flex;
 }
 .my-resume{
    font-family: 'Source Code Pro';
    width: 60%;
    height: 60px;
    margin-left: 5px;
 }
.homeChild2{
    width:500px;
    height: 500px;
    /* background-color: #b1b4bc; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.homeChild2 img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}
.sec-div {
    margin-left: 20px;
    padding-bottom: 1rem;
}
.seclastfoot {
    font-family: 'Source Code Pro';
    margin-left: 20px;
}
@media only screen and (max-width:1440px){
    .home {
        width: 100%;
        padding: 0rem;
    }
    
}
@media only screen and (max-width:1024px){
    .homeChild2,
    .homeChild1 {
        width: 450px;
        height: 550px;
    }
    h1 {
        font-size: 2em;
        line-height: 0;
    }
    .wel-port {
        width: 100%;
    }
    .my-intro {
        line-height: 40px;
        font-size: 14px;
    }
    .my-resume {
        margin-left: 0px;
    }
    .paragraph {
        font-size: 0.9rem ;    }
    .heading {
        font-size: 3rem;
        }
        #foot-child1 {
            /* padding-top: 5rem; */
        }    
        .footimg {
            width: 350px;
            height: 350px;
        }
}
@media only screen and (max-width:768px){
    .home{
        flex-wrap: wrap;
    }
   
}
@media only screen and (max-width:425px){
    .wel-port{
        font-size: 14px;
    }
    .FootHeading{
        width: 300px;
        /* background-color: aqua; */
        /* font-size: 35px; */
    }
    .FootIntro{
        
        font-size: 15px;
    }
    .seclastfoot{
        
        margin-top: 10%;
        font-size: 12px;
    }
    .my-intro{
        font-size: 17px;
    }

}
@media only screen and (max-width:375px){
    .wel-port{
        font-size: 13px;
    }
    .my-intro{
        font-size: 14.5px;
    }
    .FootHeading{
        text-align: left;
        /* font-size: 40px; */
        /* margin-top: -20px; */
    }
     .FootIntro{
        font-size: 12px;
        /* list-style: none; */
    } 
     .seclastfoot{
        margin-top: 11%;
        margin-bottom: 4%;
        font-size: 9px;
    } 
    .homeChild2 img{
        width: 70%;
        height: 60%;
    }

}
@media only screen and (max-width:320px){
    .sec-div{
        width: 280px;
        font-size: 9px;
    }
    .homeChild2 img{
        width: 80%;
        height: 65%;
    }
}