
.resBtn{
    font-family: 'Source Code Pro';
    width: 100%;
    /* background-color: #fff; */
    /* height: 90%; */
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    margin-left: 15px;
    /* border: #FFD700; */
    
}
.btn {
    background: #ffff00;
    color: #000;
    height: 50px;
    padding: 1rem 3rem;
    font-size:1rem;
    font-weight: 650;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
align-items: center;
}

.btn:hover {
    background: #fff;
    /* box-shadow: 0px 2px 12px 7px #97B1BF; */
    /* border: 2px solid #f39c12; */
    box-shadow: 0px 2px 10px 6px #ffff00;
    color: #000;
}
/* .resBtn button{
    font-family: 'Source Code Pro';
 

    background-color:	rgb(255,215,0);
    color: black;
    font-size: 17px;
}
button:hover{
    border-radius: 100px;
} */