.Educ-cont{
    width: 100%;

    display: flex;
    justify-content: center;
}
.Educ-cont-child{
    width:92%;
    height: auto;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap:wrap ;
}
.card-parents{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.education-heading{
    font-family: 'Source Code Pro';
    width: 67%;
    height: 15%;
        font-size:50px;
      color: #fff;;
        margin-top:0px;
        text-align:left;
        display: flex;
        align-items: end;
}
@media only screen and (max-width:1440px){
    .card-parents {
        width: 100%;
    }
    .education-heading{
        width: 85%;
    }
    .Educ-cont-child {
        width: 100%;
    }
}
@media only screen and (max-width:1024px){
    .card-parents {
        width: 90%;
    }
    .card-cont {
        width: 260px!important;
        height: 360px!important;
    }
    .Educ-cont-child {
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:768px){
    .Educ-cont-child{
    height:950px;
}
    .card-parents{
        height: 850px;
    }
    .card-parents {
        height: 755px;
        width: 100%;
    }
}
@media only screen and (max-width:425px){
    
    .card-parents{
        height: 1250px;
        /* margin-top: -120px */
    }
    .Educ-cont-child{
        height: 100%;
    }
    .Educ-cont {
        padding-bottom: 2rem;
    }
}