
.icon {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 60%;
    position: relative;
  }
  
  .main_nav {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    width: 150px;
    margin-top: 10px;
  }
  
  ul {
    padding: unset !important;
    margin: unset !important;
  }
  
  ul li {
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding: 10px 5px;
  }
  
  span {
    vertical-align: middle;
    margin-left: 6px;
    font-family: 'Circular-Loom';
    font-weight: 400;
  }
  
  @keyframes SHOW-BOX {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .show-box {
    animation: SHOW-BOX .5s ease-in-out;
  }
  .menubar{
    width: 92%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
  }
 @media only screen and (min-width:768px)
 {
  .menubar {display:none !important;}
 }
  @media only screen and (min-width:798px){
    .menubar{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 40px;
         /* background-color: aqua;  */
    }
  }

  @media only screen and (max-width:320px){
    .menubar{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 30px;
    }
  }
  @media only screen and (max-width:375px){
    .menubar{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 30px;
    }
  }
  @media only screen and (max-width:425px){
    .menubar{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 30px;
    }
  }
  @media only screen and (max-width:768px){
    .menubar{
        display: block;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 30px;
    }
  }

