.main_nav {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    width: 200px;
    margin-top: 10px;
  }
  .ul_mbar {
    padding: unset !important;
    margin: unset !important;
  }
  
  .ul_mbar li {
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding: 10px 5px;
  }
  .ul_mbar li:hover{
    width: 120px;
    border-radius: 5px;
    border-radius: 6px;
    background-color: #fff000;
  }
  .ul_mbar li a{
    color: black;
  }
  .ul_mbar li a:hover{
    color: black;
  }
  
  /* span {
    vertical-align: middle;
    margin-left: 6px;
    font-family: 'Circular-Loom';
    font-weight: 400;
  } */
  
  @keyframes SHOW-BOX {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .show-box {
    animation: SHOW-BOX .5s ease-in-out;
  } 
  