.skill-cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5rem;
    padding-bottom: 3rem !important;
}
.skill-cont-child1{
    width: 750px;
    height: 635px;
    /* background-color:blueviolet; */
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-; */
}
.skill-cont-child2{
    width:500px;
    height: 500px;
    /* background-color: #b1b4bc; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 5rem;
  color:#ffff;
  /* background-color: aqua; */
    margin-top:0px;
    text-align:left;
    width: 100%;
    height: 30%;
    font-family: 'Source Code Pro';

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.paragraph{
    font-family: 'Source Code Pro';
    font-size:large;
    /* background-color: rgb(220, 137, 35); */
    height: 40%;
    width: 95%;
    color: #fff;
    font-size: 1.3rem;
    padding-top: 2rem;
    line-height: 1.8rem;
}
.Box {
    width: 90% !important;
    height: 300px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2rem;
}
.Box:hover{
    border-radius: 8px;
}
.html, .css, .js, .reactjs, .bstrap, .pshop, .fbase, .antd {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: gray;
    display: flex
;
    justify-content: center;
    align-items: space-evenly;
    cursor: pointer;
}
.html:hover{    
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: rgb(255,165,0);
}
.css:hover{

        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: rgb(30,144,255);
}
.js:hover{
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: rgb(243, 221, 21);
}
.reactjs:hover{
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: rgb(64,224,208);
}
.bstrap:hover{
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: rgb(138,43,226);
}
.pshop:hover{
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: 	rgb(0,0,128);
}
.fa-html:hover{
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: 	rgb(255, 187, 0);
}
.antd:hover{
        transform: scale(1.4) rotate(5deg);
    transition: 0.4s all;
    background-color: #292b2f;
}

.fa-html5,.fa-css3-alt,.fa-js,.fa-react,.fa-bootstrap,.fa-npm,.fa-gripfire { 
    font-size: 2rem; 
}
.fbase, .html, .antd, .css, .bstrap, .js, .pshop, .reactjs {
    display: flex
;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 0px;
    margin-right: 1rem;
}
.fbase:hover{
    transition: 0.4s all;
    transform: scale(1.4) rotate(5deg);
    background-color: orange;
}
.Pshop{
    font-size: 2em;
}
.skill-fot {
    font-family: 'Source Code Pro';
    width: 100%;
    height: 30%;
    line-height: 25px;
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
    padding-top: 1rem;
}
.skill-cont-child2 img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}
@media only screen and (max-width:1440px){
    /* .skill-cont {
        padding: 5.5rem;
    }
    .paragraph {
        padding-top: 2rem;
        line-height: 1.8rem;
    }
    .Box {
        align-items: center;
    }
    .skill-fot {
        font-size: 1.3rem; 
    } */
}
@media only screen and (max-width:1024px){
    .heading {
        font-size: 3rem;
    }
    .paragraph {
        line-height: 1.5rem;
        font-size: 0.9rem;
    }
    .skill-cont-child2 {
        width: 400px;
        }
        .skill-cont-child2 img {
            width: 300px;
            height: 300px;
        }
        .Box {
            width: 100% ;
            height: 300px;
            padding-top: 3rem;
        }
            .skill-cont {
padding: 0rem 5rem 5rem 5rem ;
}
.html, .css, .js, .reactjs, .bstrap, .pshop, .fbase, .antd {
    width: 75px ;
    height: 75px ;
    margin-bottom: 0.5rem;
}
.skill-fot {
    font-size: 0.9rem ;    }
}
@media only screen and (max-width:768px){
    .skill-cont{
        flex-wrap: wrap;
    }
    .skill-cont {
        padding: 0rem 3.5rem 0rem 3.5rem;
    }
    .Box {
        height: 210px;
    }
    .html, .css, .js, .reactjs, .bstrap, .pshop, .fbase, .antd {
        width: 65px;
        height: 65px;
    }
    .heading{
        height: 25%;
    }
    .skill-cont-child2 {
        width: 100%;
        height: 315px;
    }
   
}
@media only screen and (max-width:425px){
    .Box {
        width: 100% !important;
        padding-top: 1rem;
        margin-top: 4rem;    }
    .html, .css, .js, .reactjs, .bstrap, .pshop, .fbase, .antd {
        width: 55px;
        height: 55px;
        font-size: 0.6rem;
    }
    .skill-fot {
        width: 100%;
        font-size: 11px;
        margin-left: 8px;
        height: 30%;
        line-height: 18px;
    }
    .paragraph {
        font-size: 11px;
        margin-left: 8px;
    }
    .heading {
        height: 20%;
        justify-content: start;
    }
    .skill-fot {
        margin-top: 0rem;
        width: 100%;
        font-size: 11px;
        margin-left: 8px;
        height: 20%;
        line-height: 18px;
    }

    .skill-cont-child1 {
        height: 580px;
    }
}
@media only screen and (max-width:375px){ 
    .html, .css, .js, .reactjs, .bstrap, .pshop, .fbase, .antd {
        width: 47px;
        height: 47px;
        font-size: 0.6rem;
    }
    .paragraph{
        width: 100%;
font-size: 12px;
    }
    .skill-cont-child2 img{
        width: 70%;
        height: 50%;
    }
    .skill-cont {
        padding: 0rem 1.8rem 0rem 1.8rem;
    }
    .skill-cont-child2 img {
        width: 75%;
        height: 75%;
    }
    .skill-cont-child2 {
        width: 100%;
        height: 315px;
    }
}
 @media only screen and (max-width:320px){ 

    
    .skill-cont-child2 img{
        width: 80%;
        height: 53%;
    }
    .paragraph{
        font-size: 12px;
        margin-left: 20px;
        text-align: left;
    }
    .skill-fot{
        width: 90%;
        margin-left: 20px;
    }
    .Box{
        margin-left: 15px;
    }
 } 